/*
 * Foodiary
 * 
 * Web page CSS 
 */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px){
	.navbar-header {
		text-align: center;
	}
	.navbar-brand {
		float: none;
		font-size: 24px;
		line-height: 50px;
	}
	#new_btn {
		margin-left: 15px;
		margin-right: 0px;
	}
	#new_btn, #login_btn {
		width: 50px;
	}
	
	#me_btn {
		border: 0px;
		margin-top: 4px;
		margin-bottom: 0px;
		margin-right: 0px;
		padding-left: 10px;
		text-decoration: none;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#me_btn {
		margin-top: 10px;
		padding-bottom: 0px;
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}



/*
 * Foods page
 */

.item {
    margin: 10px 0px;
}

.thumbnail {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 1px #ccc;
	-moz-box-shadow: 0px 0px 20px 1px #ccc;
	box-shadow: 0px 0px 20px 1px #ccc;
}

.btn-toolbar {
	position: absolute;
	top: 8px;
	left: 24px;
	z-index: 1;	
}

.like_div {
	text-align: right;
	padding-right: 20px;
}

.like_label {
		margin-top: 5px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px){
	#foods_container {
		margin-top: 20%;
		margin-left: 15px;
		margin-right: 15px;
		z-index: 1;
	}
	
	.food_img {
		width: 100%;
		-webkit-border-radius: 10px 10px 0px 0px;
	    -moz-border-radius: 10px 10px 0px 0px;
	    border-radius: 10px 10px 0px 0px;
	}
	
	.user_info_area {
		border-bottom: 1px solid #ddd;
		padding: 10px 5px;
	}
	
	.user_thumb {
		width: 30px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	.food_info_area {
		padding: 10px 5px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#foods_container {
		margin-top: 5%;
		margin-left: 10%;
		margin-right: 10%;
		z-index: 1;
	}
	
	.food_img {
		width: 100%;
		height: 250px;
		-webkit-border-radius: 10px 10px 0px 0px;
	    -moz-border-radius: 10px 10px 0px 0px;
	    border-radius: 10px 10px 0px 0px;
	}
	
	.user_info_area {
		border-bottom: 1px solid #ddd;
		padding: 10px 5px;
	}
	
	.user_thumb {
		width: 30px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	.like_label {
		text-align: right;
	}
	
	.food_info_area {
		padding: 10px 5px;
	}
}


/*
 * Food Page
 */


#food_container {
	min-height: 400px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 20px 1px #ccc;
	-moz-box-shadow: 0px 0px 20px 1px #ccc;
	box-shadow: 0px 0px 20px 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index: 1;
}

#food_title {
	font-size: 20px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 10px;
}

#food_body {
	
}

.food_info_row{
	margin: 0px;
	padding: 10px;
}

#food-record-img-thumb {
	width: 365px;
	height: 250px;
}

#food_record_info {
	font-size: 18px;
}
#rate-bar {
	display: inline;
}
#food_comments {
	height: 90px;
	font-size: 16px;
}

#map_panel_heading {
	text-align: center;
}

#map_panel_body {
	padding: 0px;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px){
	#food_container {
		width: 100%;
		margin: 15% 5px;
		height: 100%;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#food_container {
		width: 800px;
		margin: auto;
		height: 100%;
		margin-top: 6%;
	}
}


/*
 * Upload Area
 */


#upload_container{
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 20px 1px #ccc;
	-moz-box-shadow: 0px 0px 20px 1px #ccc;
	box-shadow: 0px 0px 20px 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index: 1;
}

#upload_title {
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#upload_img {
	display: none;
	margin: 5px;
}

#food_img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px){
	#upload_container {
		margin: 20% 5px;
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#upload_container {
		margin: 8% 35%;
	}
}




#upload_body {

}




#fileUpload {
  /* Note: display:none on the input won't trigger the click event in WebKit.
    Setting visibility: hidden and height/width:0 works great. */
  visibility: hidden;
  width: 0;
  height: 0;
}

#img_input {
	text-align: center;
}

#fileSelect {
  	/* style the button any way you want */
	width: 120px;
}
#fileSelect span {
	margin-right: 0px;
	font-size: 16px;
}

#food_name_input {
	margin: 10px 30px;
}

#btn-area {
	text-align: center;
	padding-bottom: 20px;
}
	
	 
#rating-area {
	text-align: center;
}

#panel-area {
	margin: 0px 10px;
}

#upload-btn {
	width: 120px;
}

.starrr .upload{
	text-align: center;
	font-size: 40px;
}



/*
 * me
 */

#me_container{
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 20px 1px #ccc;
	-moz-box-shadow: 0px 0px 20px 1px #ccc;
	box-shadow: 0px 0px 20px 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index: 1;
}

#me_img_div {
	text-align: center;
}

#me_user_img {
	width: 80px;	
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px){
	#me_container {
		margin: 20% 20px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#me_container {
		margin: 10% 35%;
	}
}

#me_title {
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#me_body {
	padding: 10px 20px;
}

#default_info {
	margin-bottom: 10px;
}

#me_user_img {
	width: 80px;
	margin-right: 20px;
}

.hero-widget { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.hero-widget .icon { display: block; font-size: 40px; text-align: center; }
.hero-widget var { display: block; font-size: 40px; line-height: 30px; font-style: normal; }
.hero-widget label { font-size: 17px; }

/*
 * Login
 */
#login_form {
	margin: 200px auto;	
}

.form-signin {
  max-width: 400px; 
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
	box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
	padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;
	
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.login-footer .left-section a{
	font-weight:bold;
	color:#8a8a8a;
	line-height:19px;
}
.mg-btm{
	margin-bottom:20px;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px){

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}
