/*
 * Foodiary
 * 
 * Web page CSS 
 */

.mainWrapper {
	width: 1160px;
	margin: auto;
	height: 100%;
}


/*
.page_title {
	font-size: 32px;
	text-align: center;
	margin: 0 30px;
	padding-top: 20px;
	border-bottom: 1px solid #ccc;
}
*/

footer div {
	text-align: center;
}

/*
 * main grid page part
 */

#food_container {
	min-height: 600px;
	margin: 80px 0px 0px 0px;
	z-index: 1;
}

#main_grid {
	margin-top: 10px;
}

.glyphicon { margin-right:5px; }

.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.thumbnail #food_img{
	width: 400px;
	height: 250px;
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}


/*
 * Upload Area
 */
#upload_container{
	min-height: 600px;
	background-color: #fff;
	margin: 80px 0px 0px 0px;
	-webkit-box-shadow: 0px 0px 20px 1px #ccc;
	-moz-box-shadow: 0px 0px 20px 1px #ccc;
	box-shadow: 0px 0px 20px 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index: 1;
}

.upload_area {

}

#upload_page {
	width: 460px;
	margin: auto;
	height: 100%;
}

#upload_title {
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#food_img_thumb {
	border: 0px;
}

#img-thumb-area {
	display: none;
}

#food_name_input {
	margin: 10px 30px;
}

#btn-area {
	text-align: center;
}
#upload-btn {
	width: 120px;
}


.starrr .upload{
	text-align: center;
	font-size: 40px;
}

