/*
 * Foodiary
 * Web page CSS 
 */

#mainWrapper {
	width: 960px;
	margin: auto;
	height: 100%;
}

#container {
	padding-top: 20px;
	min-height: 600px;
	background-color: #fff;
	margin: 80px 0px 0px 0px;
	-webkit-box-shadow: 0px 0px 20px 1px #ccc;
	-moz-box-shadow: 0px 0px 20px 1px #ccc;
	box-shadow: 0px 0px 20px 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index: 1;
}

.js-masonry{
	margin: 0 auto;
}
.item {
  width:  160px;
  height: 60px;
  float: left;
  background: #D26;
  border: 2px solid #3533;
  border-radius: 5px;
  margin-bottom: 10px;
}


footer p {
	text-align: center;
}